/* * {
  border: 1px solid rgb(19, 18, 18);
} */

.app {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__infoTabs {
  display: flex;
  justify-content: space-between;
}

.app__infoTabs>div {
  cursor: pointer;
}

.app__mapContainer {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  height: 450px;
  margin-bottom: 10px;
}

.app__left {
  flex: 0.9;
}

.app__right {
  background-color: white;
  padding: 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 1000px) {
  .app {
  flex-direction: column;
  }

  .app__right {
    flex-grow: 1;
  }
}
